/*

hi mom

*/

body{
    padding: 0;
    margin: 0;
    font-family: Roboto, Poppins;
}

button:hover{
    cursor: pointer;
}

.parent{
    height: 100svh;
    display: grid;
    grid-template-columns: auto auto;

}

.section-1{
    background-image: url(../assets/cat.jpg);
    background-position: center;
    background-size: cover;

}

.section-2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.title{
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 3.25rem;
    color: #141414 ;
}

.section-2 input::-webkit-input-placeholder{
    font-size: 1rem;
}
 
.section-2 input{
    padding: 1rem;
    width: auto;
}

.pin{
    margin-bottom: 1.25rem;
}

.password{
    margin-bottom: 0.75rem;
}

.pin, .password{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
    
}

.pin input, .password input{
    border: solid 1px #27585340;
}

.pin input:focus, .password input:focus{
    border: solid 1px #27585390;
    outline: none;
}

.user-help{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
}

.remember-me{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-me input{
    accent-color: #3C8A82 ;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.remember-me input:checked{
    background-color: #3C8A82;
    border-color: #3C8A82;
}

.forgot-password{
    display: flex;
}

.forgot-password a {
    text-decoration: none;
    color: #3C8A82;
}

.log-in, .register{
    padding: 1rem;
    width: auto;
    border: none;
    font-size: 20px;
}

.log-in{
    background-color: #3C8A82;
    margin-bottom: 3.75rem;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.log-in:hover{
    background-color: #275853;
}

.log-in:active{
    background-color: #3C8A82;
    transform: scale(0.99);
}

.register{
    border: #3C8A82 solid 2px;
    background-color: #ffffff;
    color: #3C8A82;
    transition: all 0.2s ease-in-out;
}

.register:active{
    transform: scale(0.99);
}